@use "./components/text.scss";
@use "./components/input.scss";
@use "./components/select.scss";

@use "./var.scss" as *;
@use "./mixins/mixin.scss" as *;

@include elComponentCss("range") {
  &-separator {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    overflow-wrap: break-word;
  }
}
