@use "./components/input.scss";
@use "./components/input-number.scss";
@use "./components/select.scss";
@use "./components/date-picker.scss";
@use "./components/time-select.scss";

@use "./mixins/mixin.scss" as *;

@include elComponentCss("range") {
  &-separator {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    overflow-wrap: break-word;
  }
}
