@use "sass:map";
@use "./common/var.scss" as *;
@use "./mixins/var.scss" as *;
@use "./light/var.scss" as light;
@use "./dark/var.scss" as dark;

$font-size: () !default;
$font-size: map.merge(
  (
    "extra-large": 20px,
    "large": 18px,
    "medium": 16px,
    "base": 14px,
    "small": 13px,
    "extra-small": 12px,
  ),
  $font-size
);

$common-component-size: () !default;
$common-component-size: map.merge(
  (
    "large": 40px,
    "default": 32px,
    "small": 24px,
  ),
  $common-component-size
);

$input-height: () !default;
$input-height: map.merge($common-component-size, $input-height);

:root {
  @include setCssVar("font-size", $font-size);
  @include setCssVar("input-height", $input-height);
  @include setCssVar("text-color", light.$text-color);

  @each $type in $types {
    @include setColorVars($type, light.$colors);
  }
}

html.dark {
  @include setCssVar("text-color", dark.$text-color);

  @each $type in $types {
    @include setColorVars($type, dark.$colors);
  }
}
