@use "sass:map";
@use "sass:math";
@use "sass:color";
@use "../common/var.scss" as common;
@use "../mixins/function.scss" as *;

$bg-color: #141414;
$text-color-base: #f0f5ff;
$text-color: () !default;
$text-color: map.merge(
  (
    "primary": rgba($text-color-base, 0.95),
    "regular": rgba($text-color-base, 0.85),
    "secondary": rgba($text-color-base, 0.65),
    "placeholder": rgba($text-color-base, 0.55),
    "disabled": rgba($text-color-base, 0.4),
  ),
  $text-color
);
// mix to hex to avoid overlay issues
@each $key, $val in $text-color {
  $text-color: map.merge(
    $text-color,
    (
      $key: mix-overlay-color($val, $bg-color),
    )
  ) !global;
}

$colors: () !default;
@each $type in common.$types {
  $colors: map.deep-merge(
    (
      $type: (
        "base": map.get(common.$colors, $type, "base"),
      ),
    ),
    $colors
  ) !global;
}

@mixin setColorMixLevel($type, $number, $mode, $mix-color) {
  $colors: map.deep-merge(
    (
      $type: (
        "#{$mode}-#{$number}":
          color.mix(
            $mix-color,
            map.get($colors, $type, "base"),
            math.percentage(math.div($number, 10))
          ),
      ),
    ),
    $colors
  ) !global;
}

@each $type in common.$types {
  @for $i from 1 through 9 {
    @include setColorMixLevel($type, $i, "light", $bg-color);
  }
}

@each $type in common.$types {
  @include setColorMixLevel($type, 2, "dark", common.$color-white);
}
