@use "./var.scss" as *;
@use "./mixins/mixin.scss" as *;
@use "./mixins/function.scss" as *;

@include elComponentCss("date-picker") {
  @include commonComponentStyle();

  @include when(disabled) {
    color: var(#{getCssVarName("text-color", "disabled")});
  }

  &--large {
    font-size: var(#{getCssVarName("font-size", "base")});
    line-height: var(#{getCssVarName("input-height", "large")});
  }

  &--small {
    font-size: var(#{getCssVarName("font-size", "small")});
    line-height: var(#{getCssVarName("input-height", "small")});
  }
}
