@use "../mixins/mixin.scss" as *;

@include elComponentCss("input") {
  &__password,
  &__prefix,
  &__suffix,
  &__prepend,
  &__append {
    button.el-button {
      color: inherit;
      background-color: transparent;
    }
    &:hover {
      button.el-button {
        color: inherit;
        background-color: transparent;
        border-color: inherit;
      }
    }
  }

  &__password {
    cursor: pointer;
  }
}
