@use "./var.scss" as *;
@use "./mixins/mixin.scss" as *;
@use "./mixins/function.scss" as *;

@include elComponentCss("select") {
  color: var(#{getCssVarName("text-color", "regular")});
  font-size: var(#{getCssVarName("font-size", "base")});
  line-height: var(#{getCssVarName("input-height")});
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 8px;

  @include when(disabled) {
    color: var(#{getCssVarName("text-color", "disabled")});
  }

  &-selection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
    padding: 4px 0;
    .el-tag {
      background-color: var(#{getCssVarName("color", "info", "light-9")});
      border-color: var(#{getCssVarName("color", "info", "light-9")});
      color: var(#{getCssVarName("color", "info")});
    }
  }

  &--large {
    font-size: var(#{getCssVarName("font-size", "base")});
    line-height: var(#{getCssVarName("input-height", "large")});
  }

  &--small {
    font-size: var(#{getCssVarName("font-size", "small")});
    line-height: var(#{getCssVarName("input-height", "small")});
  }
}
