:root {
  --vp-code-block-bg: var(--el-fill-color-light);
  --vp-code-line-height: 1.6;
}

.VPContent.has-sidebar .VPDoc.has-aside .content-container {
  max-width: 728px;
}

.m-0 {
  margin: 0;
}
.m-16px {
  margin: 16px;
}
.mt-16px {
  margin-top: 16px;
}
.mb-16px {
  margin-bottom: 16px;
}

.label {
  width: 100%;
}

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}
.gap-16px {
  gap: 16px;
}

.demo-input-with-icon {
  width: 100%;
}

.input-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.demo-date-picker {
  display: flex;
  width: 100%;
  padding: 0;
  flex-wrap: wrap;
}

.demo-date-picker .block {
  padding: 30px 0;
  text-align: center;
  border-right: solid 1px var(--el-border-color);
  flex: 1;
}

.demo-date-picker .block:last-child {
  border-right: none;
}

.demo-date-picker .container {
  flex: 1;
  border-right: solid 1px var(--el-border-color);
}

.demo-date-picker .container .block {
  border-right: none;
}

.demo-date-picker .container .block:last-child {
  border-top: solid 1px var(--el-border-color);
}

.demo-date-picker .container:last-child {
  border-right: none;
}

.demo-date-picker .demonstration {
  display: block;
  color: var(--el-text-color-secondary);
  font-size: 14px;
  margin-bottom: 20px;
}
