@use "../mixins/mixin.scss" as *;
@use "../mixins/function.scss" as *;

@include elComponentCss("select") {
  &-selection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
    padding: 4px 0;
    .el-tag {
      background-color: var(#{getCssVarName("color", "info", "light-9")});
      border-color: var(#{getCssVarName("color", "info", "light-9")});
      color: var(#{getCssVarName("color", "info")});
    }
  }
}
