@use "sass:map";
@use "./function.scss" as *;

@mixin setCssVar($name, $variables) {
  @each $attribute, $value in $variables {
    @if $attribute == "default" {
      #{getCssVarName($name)}: #{$value};
    } @else {
      #{getCssVarName($name, $attribute)}: #{$value};
    }
  }
}

@mixin setColorVars($type, $colors) {
  #{getCssVarName("color", $type)}: #{map.get($colors, $type, "base")};

  @each $i in (3, 5, 7, 8, 9) {
    #{getCssVarName("color", $type, "light", $i)}: #{map.get(
        $colors,
        $type,
        "light-#{$i}"
      )};
  }

  #{getCssVarName("color", $type, "dark-2")}: #{map.get(
      $colors,
      $type,
      "dark-2"
    )};
}
